@use "./main.scss" as *;

html,
body,
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: $graphite;
  // border: 2px solid red;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
