@use "./main.scss" as *;

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: $graphite;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
