@use "../../main.scss" as *;

.myEvents {
  &__nav {
    @include b1;
    // border: 2px solid red;
    margin-top: 48px;
    @include flex-row;
    justify-content: center;
    gap: 32px;
  }

  &__nav-item {
    cursor: pointer;
    &:hover {
      border-bottom: 2px solid $orange;
    }
    &--underline {
      border-bottom: 2px solid $orange;
    }
  }
}
