@use "../../main.scss" as *;

.card {
  width: 324px;
  height: 475px;
  border-radius: 6px;
  //   border: 2px solid red;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 20px 1px rgba(52, 52, 52, 0.1);
  position: relative;

  &__img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: 0 50%;
    border-radius: 6px 6px 0 0;
  }
  &__close {
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 20px 1px rgba(52, 52, 52, 0.1);
    border-radius: 50%;
    padding: 8px;
    right: 10px;
    top: 10px;
  }

  &__text-cont {
    padding: 24px 24px 30px 24px;
    // border: 2px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header {
    @include sh2;
  }

  &__info-cont {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__subheader {
    @include b1;
    color: $orange;
  }

  &__label {
    display: flex;
    gap: 8px;
  }
  &__text {
    @include b2;
  }

  &__icon {
    width: 24px;
  }
}
