@use "../../main.scss" as *;

.authPage {
  display: flex;
  height: 100vh;

  &__left {
    width: 50%;
  }
  &__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 112px;
  }

  &__img {
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
    object-fit: cover;
  }
}
